@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


:root{
    --azulOscuro: #142B45;
    --blanco: #FFFFFF;
    --azulNormal: #1A4E8E;
    --celeste: #E6EDF6;

    --extraGrande: 3.5rem;
    --grande: 3.3rem;
    --mediano: 2.5rem;
    --chico: 1.6rem;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    font-size: 62.5%;
}

.cuerpo{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.container_titulo{
    width: 100%;
    color: var(--blanco);
    background-color: var(--azulOscuro);
}

.titulo{
    font-size: var(--grande);
    padding-left: 4rem;
}

.nav{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dato_principal{
    font-size: var(--grande);
    color: var(--azulNormal);
    margin-left: 4rem;
}

.nav_boton{
    margin-right: 4rem;
}

.boton_back{
    font-size: var(--chico);
    padding: 0.3rem 5.7rem;  
    font-weight: bold;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--azulNormal);
    color: var(--blanco);
}



/*Parte 2*/


.container{
    background-color: var(--celeste);
    display: grid;
    grid-template-columns: 94%;
    justify-content: center;
}

.principal{
    background-color: var(--blanco);
    margin-top: 3rem;
    height: 90%;
    
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.container_form{
    width: 85%;
    margin-top: 4rem;
    justify-self: center;
    margin-bottom: 2rem;

}

.container_form > .boton{
    font-size: var(--chico);
    border: 0.1rem solid black;
    border-radius: 5px;
    padding: 0.3rem 3rem;  
    font-weight: bold;
    background-color: var(--azulNormal);
    color: var(--blanco);
    cursor: pointer;
}


.valores_pendientes{
    font-size: var(--mediano);
    width: 85%;
    justify-self: center;
    margin-bottom: 2rem;
}


.container__tabla{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows:0 min-content;
    justify-content: center;
    
}

.td {
    width: 33.33%;
    margin: 0;
    vertical-align: top;
    border: 1px solid var(--azulNormal);
    /* border-spacing: 0; */
    font-size: var(--chico);
 }
 .encabezado{
    font-weight: bold;
    text-align: center;
    background-color: var(--azulNormal);
    color: var(--blanco);
}


